version: 2.1
orbs:
  architect: giantswarm/architect@4.0.0

workflows:
  all:
    jobs:
      - architect/go-build:
          name: go-build-helloworld
          binary: helloworld
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-helloworld-to-quay
          image: "quay.io/giantswarm/helloworld"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - architect/go-build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - hold-push-helloworld-to-aliyun-pr:
          type: approval
          requires:
            - architect/push-to-docker
          # Needed to prevent job from being triggered on master branch.
          filters:
            branches:
              ignore: master

      - architect/push-to-docker:
          name: push-helloworld-to-aliyun-pr
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/helloworld"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          # Push to Aliyun should execute for non-master branches only once manually approved.
          requires:
            - hold-push-helloworld-to-aliyun-pr
          # Needed to prevent job being triggered for master branch.
          filters:
            branches:
              ignore: master

      # Push to Aliyun should execute without manual approval on master.
      - architect/push-to-docker:
          name: push-helloworld-to-aliyun-master
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/helloworld"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - architect/go-build
          # Needed to trigger job only on merge to master.
          filters:
            branches:
              only: master
